package components;

templ AddBookmarkModal() {
	<dialog id={ ADD_BOOKMARK_MODAL }>
		<article>
			<header style="display: flex; justify-content: space-between; align-items: center;">
				<p>
					<strong>🗓️ Add bookmark</strong>
				</p>
				<form method="dialog">
					<button aria-label="Close" rel="prev"></button>
				</form>
			</header>
			<form>
				<label>
					URL
					<input type="url" name="url" required/>
				</label>
				<label>
					Tags
					<input type="text" name="tags"/>
				</label>
				<label>
					Title
					<input type="text" name="title" required/>
				</label>
				<label>
					Description
					<textarea rows="4" name="description"></textarea>
				</label>
				<button type="submit" style="margin-bottom: 0;">Add</button>
			</form>
		</article>
	</dialog>
}
