package components;

templ AddBookmarkModal() {
	<dialog id={ ADD_BOOKMARK_MODAL }>
		<article>
			<header style="display: flex; justify-content: space-between; align-items: center;">
				<p>
					<strong>🗓️ Add bookmark</strong>
				</p>
				<form method="dialog">
					<button aria-label="Close" rel="prev"></button>
				</form>
			</header>
			<form hx-trigger="submit" hx-post="/api/marks" hx-target-error="#errors">
				<label>
					URL
					<input type="url" name="url" required hx-get="/api/marks/get-info" hx-trigger="input changed delay:500ms" hx-target-error="#url-helper" hx-target="#page-info" aria-describedby="url-helper"/>
					<small id="url-helper"></small>
				</label>
				<label>
					Tags
					<input type="text" name="tags"/>
				</label>
				<fieldset id="page-info">
					@BookmarkTitleAndDesc("", "")
				</fieldset>
				<button type="submit" style="margin-bottom: 0;">Add</button>
				<small id="errors" style="display:block;"></small>
			</form>
		</article>
	</dialog>
}
